<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>guanjia</id>
<name>搜外内容管家平台</name>
<url></url>
<note>不需要采集！不需要配置任何规则！ 一分钟即可完成配置躺平发布拥有伪原创文章 seo必备一站式文章内容方案</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>搜外内容管家</name>
  <email>488043287@qq.com</email>
  <url>https://guanjia.seowhy.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>1.0.0</version>
<pubdate>2022-04-28</pubdate>
<modified>2022-04-28</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>